@import "tailwindcss" theme(static);
@import "@nuxt/ui";

:root {
  color-scheme: light dark;
}

:root {
  --ui-primary: var(--latte-primary);
}

@theme {
  --latte-base: hsl(220deg, 23%, 95%);
  --latte-mantle: hsl(220deg, 22%, 92%);
  --latte-crust: hsl(220deg, 21%, 89%);

  --latte-text: hsl(234deg, 16%, 35%);

  --latte-primary: hsl(316deg, 73%, 69%);
  --latte-green: hsl(109deg, 58%, 40%);
  --latte-yellow: hsl(35deg, 77%, 49%);
  --latte-sky-blue: hsl(197deg, 97%, 46%);
  --latte-blue: hsl(220deg, 91%, 54%);
  --latte-lavender: hsl(231deg, 97%, 72%);

  --mocha-base: hsl(240deg, 21%, 15%);
  --mocha-mantle: hsl(240deg, 21%, 12%);
  --mocha-crust: hsl(240deg, 23%, 9%);

  --mocha-text: hsl(226deg, 64%, 88%);

  --mocha-primary: hsl(316deg, 72%, 86%);
  --mocha-green: hsl(115deg, 54%, 76%);
  --mocha-yellow: hsl(41deg, 86%, 83%);
  --mocha-sky-blue: hsl(189deg, 71%, 73%);
  --mocha-blue: hsl(217deg, 92%, 76%);
  --mocha-lavender: hsl(232deg, 97%, 85%);

  --latte-drop-shadow-pink-300: 0px 0px 39px hsla(316deg, 73%, 69%, 0.3);
  --latte-drop-shadow-pink-400: 0px 0px 39px hsla(316deg, 73%, 69%, 0.4);
  --latte-drop-shadow-pink-500: 0px 0px 39px hsla(316deg, 73%, 69%, 0.5);
  --latte-drop-shadow-pink-900: 0px 0px 39px hsla(316deg, 73%, 69%, 0.9);
  --latte-drop-shadow-pink-1000: 0px 0px 39px hsla(316deg, 73%, 69%, 1);

  --mocha-drop-shadow-pink-300: 0px 0px 39px hsla(316deg, 72%, 86%, 0.3);
  --mocha-drop-shadow-pink-400: 0px 0px 39px hsla(316deg, 72%, 86%, 0.4);
  --mocha-drop-shadow-pink-500: 0px 0px 39px hsla(316deg, 72%, 86%, 0.5);
  --mocha-drop-shadow-pink-900: 0px 0px 39px hsla(316deg, 72%, 86%, 0.9);
  --mocha-drop-shadow-pink-1000: 0px 0px 39px hsla(316deg, 72%, 86%, 1);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: light-dark(var(--latte-base), var(--mocha-base));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: light-dark(var(--latte-primary), var(--mocha-primary));
}

p {
  color: light-dark(var(--latte-text), var(--mocha-text));
}

input,
button,
textarea,
select {
  font: inherit;
}

div {
  font-family: "Roboto", sans-serif;
}

img {
  object-fit: cover;
}

canvas {
  width: 100%;
  height: 100%;
}

/* main {
  position: absolute;
} */
